<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-striped" cellspacing="0" rules="all" border="1" id="mainContent_dgCostOfLiving"
            style="border-collapse:collapse;">
            <tbody>
                <tr class="table bg-dark text-white">
                    <td>COST OF LIVING</td>
                    <td>Chicago</td>
                    <td>Illinois</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="The total of all the cost of living categories weighted subjectively as follows: housing (30%), food and groceries (15%), transportation (10%), utilities (6%), health care (7%), and miscellaneous expenses such as clothing, services, and entertainment (32%).  State and local taxes are not included in any category.  Updated: 09/19"><u>Overall</u></button></u>
                    </td>
                    <td>106.9</td>
                    <td>93.4</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="The cost of Groceries compared to the US Average of 100  Updated: 09/19"><u>Grocery</u></button></u>
                    </td>
                    <td>97.2</td>
                    <td>94</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="The average cost of health care calculated using the standard daily rate for a hospital room, and the costs of a doctor's office visit and a dental checkup.  Updated: 09/19"><u>Health</u></button></u>
                    </td>
                    <td>90.6</td>
                    <td>97.2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="The median cost of an area's average home, for both buying and renting.  Does not include property taxes or utilities.  Updated: 09/19"><u><a
                                        href="https://www.rockethomes.com/il/chicago?utm_source=best-places&amp;utm_medium=referral&amp;utm_campaign=best-places-partnership&amp;utm_term=ppo-chicago-il&amp;utm_content=6&amp;qls=RHB_rhbp2021.bestplaces"
                                        target="_blank">Housing</a></u></button></u></td>
                    <td>99.1</td>
                    <td>79.5</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="This is the value of the years most recent home sales data.  Its important to note that this is not the average (or arithmetic mean). The median home price is the middle value when you arrange all the sales prices of homes from lowest to highest.  This is a better indicator than the average, because the median is not changed as much by a few unusually high or low values.  Updated: 08/21"><u><a
                                        href="https://www.rockethomes.com/real-estate-trends/il/chicago?utm_source=best-places&amp;utm_medium=referral&amp;utm_campaign=best-places-partnership&amp;utm_term=ppo-chicago-il&amp;utm_content=6&amp;qls=RHB_rhbp2021.bestplaces"
                                        target="_blank">Median Home Cost</a></u></button></u></td>
                    <td>$291,200</td>
                    <td>$234,000</td>
                    <td>$291,700</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="The average cost of heating or cooling a typical residence for the area, including electricity, natural gas and other fuels  Updated: 09/19"><u>Utilities</u></button></u>
                    </td>
                    <td>92.8</td>
                    <td>97.7</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="The average cost of gasoline, car insurance and maintenance expenses, and mass transit fare for the area.  The cost of the vehicle and any vehicle registration and license taxes are not included.  Updated: 09/19"><u>Transportation</u></button></u>
                    </td>
                    <td>138.5</td>
                    <td>106.2</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<u><button type="button" class="btn btn-link" data-toggle="tooltip"
                                data-placement="right" title=""
                                data-original-title="The cost index of those goods and services not included in the other cost of living categories, including clothing, restaurants, repairs, entertainment, and other services.  Updated: 09/19"><u>Miscellaneous</u></button></u>
                    </td>
                    <td>107.3</td>
                    <td>98.1</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h6 class="mt-0 mb-5">100=National Average</h6>
</div>